
.blog{
    border: 1px solid purple;
    border-radius: 20px;
    margin:1%;
    width:30%;
    float:left;   
    display:inline-block;    
}
h3{
    text-align:right;
}
p{
    text-align:justify;
}